<div class="fullbleedouter">
	<div class="fullbleedinner"></div>
	<img src="/assets/white-writing2.png">
</div>
<br>
<br>

<div class="wrapme">	
	<div style="text-align:center;">
		<%= link_to "<< Back to signup", root_path %>
	</div>

	<h1 style="text-align:center; margin-top:50px;">About</h1></br>

	<div style="margin: 0 auto; text-align:center; position: relative; line-height:150%;">
		We created theBandwagn to make sports news accessible to everyone.  Remember the time your friends were raving about that crazy play from last night's game?  Well, theBandwagn wants to make sure that next time, you're not left out of the conversation!<br><br>
	</div>

	<h1 style="text-align:center; margin-top:50px;">Co-founders</h1></br>
	<div style="margin: 0 auto; text-align:center; position: relative; line-height: 150%;">
		<h3>The Story</h3>
		theBandwagn's founders met one hot summer afternoon at Teach For America training camp in NYC.  One of them liked electronic music.  The other, well, liked electronic music.  The rest is history.

		<h3>Martin Kleinbard</h3>
		Martin grew up in Brooklyn, NY and vaguely remembers the days when there wasn't an artisanal cheese shop on every street corner. He still lives there with his wife Andrea and dog Lizzy Bennet (a literary reference, though maybe the next dog will have a sports-related name). In addition to being the theBandwagn's sports guru, he stays involved in the sports world as a blogger for CBS Local Sports.

		<h3>Marcus Gallagher</h3>
		Marcus is a native San Franciscan but has been pinballing around NYC for close to a decade.  He wears multiple hats for theBandwagn...programmer and biz dev to name a few.  When not working on theBandwagn he can be found running laps around Central Park or reading up on the newest technologies.
	</div><br><br><br>
</div>





