<h1 style="text-align:center; margin-top:50px;">TheBandwagn</h1></br>
<div style="margin: 0 auto; text-align:center; position: relative; width:500px;">
	Do you ever kinda want to know about sports? <br> TheBandwagn Team scours the sports world and identifies key events, information, and games that people will be talking about.  Enter your email and we'll send you this info every Monday and Friday.
</div></br>
<div style="margin: 0 auto 30px; position: relative; width: 400px;">
	<h3 style="text-align:center">
		Join the conversation
	</h3>
	<%= form_for @email do |e| %>
		
		<%= e.text_field :email, placeholder: "Enter your email here...", style: "width:100%" %></br>
		<div style="text-align: center"><%= e.submit "Submit", class: "btn btn-large" %></div>
	<% end %>
</div>
<div style="margin: 0 auto; text-align:center; position: relative; width:500px;">
	Check out TheBandwagn's most recent edition <%= link_to "here.", @first %>
</div>