<h1>TheBandwagn</h1>
<p>TheBandwagn aims to provide just enough information for you to join the sports conversation.  We are major sports fans and can identify the most important sports events happening at the moment.  We'll deliver that info to you via email twice a week.  Signup!</p>

<section>
	<%= form_for @email do |e| %>
		<%= e.text_field :email, placeholder: "Enter your email here..." %></br>
		<%= e.submit "Submit", class: "btn btn-large" %>
	<% end %>
</section>