<li>
	<% if !blurb.name.nil? %>
	  <span class="content">
	  	<h5>
	  		<%= blurb.name %>
	  	</h5>
	  	<% if user_signed_in? %>
			<%= link_to 'Edit', edit_blurb_path(blurb) %>
			<%= link_to 'Delete', blurb, method: :delete, data: {confirm: "You sure?"} %>

		<% end %>
	  </span>	
	  <span class="content"><%= raw(blurb.content) %></span>
	 <% end %>
</li>