<li>
	<% if !blurb.name.nil? %>
	  <span class="content">
	  	<h3>
	  		<%= blurb.name.upcase %>
	  	</h3>
	  	<% if user_signed_in? %>
			<%= link_to 'Edit', edit_blurb_path(blurb) %>
			<%= link_to 'Delete', blurb, method: :delete, data: {confirm: "You sure?"} %>
		<% end %>
	  </span>
	  <div class="bandwagn-blurb"><%= raw(blurb.content) %></div>
	 <% end %>
</li>