@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  width: 100%;
}

.wrapme {
  width: 600px;
  margin: 0 auto;
}
.bluebackground {
  background: #1796EB; 
  height: 35px; 
  text-align:center; 
  color: #ffffff; 
  font-size: 120%; 
  padding-top:13px;
}
.innerformformat {
  margin: 0 auto; 
  width: 500px; 
  padding-top:26px;
}
.outerformformat {
  margin: 0 auto; 
  background: #1796EB; 
  height: 150px; 
  width: 600px;
}
.myform {
  width:100%; 
  height: 40px;
  .textfieldpart {
    width:100%; 
    height: 40px;
    font-family: montserrat, helvetica,arial,sans-serif; 
    font-size: 16px;
  }
}
.socialmedialinks {
  margin: 0 auto;
  text-align:center;
  position: relative;
  width:500px;
  line-height: 150%;
}
.fullbleedouter {
  height:350px; 
  background: #1796EB;
}
.fullbleedinner {
  width:800px; 
  margin: 0 auto; 
  line-height: 350px;
}

/* make the website responsive */

@media screen and (max-width: 400px) {
  .bluebackground {
    width: 100%;
    max-width: 100%;
    background: #1796EB;  
    text-align:center; 
    color: #ffffff; 
    font-size: 120%;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 960px){
  .wrapme {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .mycat {
    width: 100%;
    max-width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }
  .bluebackground {
    width: 100%;
    max-width: 100%;
    background: #1796EB;  
    text-align:center; 
    color: #ffffff; 
    font-size: 120%; 
  }
  .innerformformat{
    text-align: center;
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
  }
  .outerformformat {
    text-align: center;
    margin: 0 auto;
    background: #1796EB; 
    height: 150px; 
    width: 100%;
    max-width: 100%;
  }
  .myform {
    text-align: center;
    width:100%; 
    height: 40px;
    margin: 0 auto;
    .textfieldpart {
      margin: 0 auto;
      width:100%; 
      height: 40px;
      font-family: montserrat, helvetica,arial,sans-serif; 
      font-size: 16px;
    }
  }
  .socialmedialinks {
    margin: 0 auto;
    text-align:center;
    position: relative;
    width:100%;
    max-width:100%;
    line-height: 150%;
  }
  .fullbleedouter {
    background: #1796EB;
    width: 100%;
    max-width: 100%;
  }
  .fullbleedinner {
    width:80%; 
    max-width: 100%;
    margin: 0 auto;
    height:auto;
  }
}



/* fixing the way blurbs display */
.bandwagn-blurb {
  line-height: 20px;
  letter-spacing: 0em;
}

.link_color {
  color: #ffffff;
  font-size:bold;
  text-decoration:underline;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: 545454;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  background: #d0d5db;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.marquee {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  color: #229ce2;
  padding-top: 12px;
  line-height: 1;
}

/* navbar */

.navbar-inner {
  background: #d0d5db;
  background-color: #d0d5db;
  background-image: none;
  background-repeat: none;
  filter: none;
/*
  background-image: -moz-linear-gradient(top, #d0d5db, #d0d5db);
  background-image: -ms-linear-gradient(top, #d0d5db, #d0d5db);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d0d5db), to(#d0d5db));
  background-image: -webkit-linear-gradient(top, #d0d5db, #d0d5db);
  background-image: -o-linear-gradient(top, #d0d5db, #d0d5db);
  background-image: linear-gradient(top, #d0d5db, #d0d5db);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'d0d5db, endColorstr='#'d0d5db, GradientType=0);
*/

}

.navbar-fixed-top {
	background-color: #d0d5db;	
}

.navbar-fixed-bottom {
  background-color: #ffffff;   
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #298eaa;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #298eaa;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #229ce2;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #298eaa;
}




/* footer */

footer {
  
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* blurbs */

.blurbs {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
  }
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.categorical {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
