<footer class="footer">
  <small>
    <p>Grizzlybearded Productions</p>
  </small>
  <nav>
  	<% if user_signed_in? %>
    <ul>
      <li>Subs: <%= Collectemail.where(send_email: true).count %></li>  
      <li>Unsubs: <%= Collectemail.where(send_email: false).count %></li>
    </ul>
    <% end %>
  </nav>
</footer>