<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TheBandwagn", Category.first, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
            <li class="marquee">Information to join the conversation</li>
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>