<div style="height:400px; background: #3D9AD1;">
	<div style="text-align:center; margin: 0 auto; position:relative; top: 50%; color:#ffffff">
		<div style="font-size: 300%; font-weight: bold; padding-bottom: 10px;">TheBandwagn</div>
		<h4>Kinda want to know about sports?</h4>
	</div>
</div>